@font-face {
  font-family: "Jaro";
  src: url("./fonts/Jaro-Regular.ttf") format("truetype");
  font-weight: 100 900;
}

:root {
  --accent: #fff600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Jaro";
  font-synthesis: none;
  user-select: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

input {
  background: none;
  outline: none;
  border: none;

  height: 50px;
  width: 300px;

  padding: 0 25px;

  color: white;
  font-size: 25px;

  background-color: rgba($color: #000000, $alpha: 0.4);
}

button {
  border: none;
  background: none;
  outline: none;
  font-size: 48px;

  &:hover:not(:disabled) {
    transform: translate(3px, -5px);
    color: var(--accent);
    text-shadow: -3px 5px black;
  }
}

a {
  font-size: 48px;
  color: black;
  text-decoration: none;
  &:hover {
    transform: translate(3px, -5px);
    color: var(--accent);
    text-shadow: -3px 5px black;
  }
}

.root {
  position: relative;

  width: 1280px;
  height: 100%;
  display: flex;
  background-image: url("./img/Background.png");
  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;
}
.dudes {
  position: absolute;
  inset: 0;
  height: 100%;
  pointer-events: none;
}

.title {
  position: absolute;
  top: 20px;
  left: 20px;

  height: 200px;
}

.back {
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 36px;

  &:hover {
    transform: translate(3px, -5px);
    color: var(--accent);
    text-shadow: -3px 5px black;
  }
}
