CompileFlags:
  Add:
    - /std:c++20
    - -DCROW2D_BUILD_DLL
    - -DCROW2D_DLL
  Remove:
    - -std=c++latest
    - /std:c++latest
  CompilationDatabase: build/dev

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: None
