body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dev {
  height: 800px;
  width: 1280px;
  background-color: red;
}

.root {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url("../img/Background.png");
}

.title {
  position: absolute;
  top: 20px;
  left: 20px;

  height: 200px;
}

.optionsContainer {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.options {
  display: flex;
  flex-direction: column;
}
.play {
  font-size: 96px;
}



