body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionsContainer {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.options {
  display: flex;
  flex-direction: column;
}
.play {
  font-size: 96px;
}
