.points {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 26px;
  color: var(--accent);
}

.holder {
  position: relative;

  width: 1280px;
  height: 100%;
  background-image: url("./img/Background.png");
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.respawn {
  font-size: 90px;
  opacity: 0;
}
