.holder {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 40px;
  gap: 2px;
}

.container {
  display: flex;
  flex-direction: column;

  height: 510px;
  width: calc(100% - 115px);

  background-color: rgba($color: #000000, $alpha: 0.4);
  padding: 20px 40px;

  overflow: auto;

  p {
    color: white;
    font-size: 20px;
    span {
      color: var(--accent);
    }
  }
}

.credits {
  font-size: 48px;
  color: var(--accent);
  text-shadow: -3px 3px 0 black;
}
